body {
    background-image: linear-gradient(to right, #525252 , rgb(62, 62, 68) );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* form */
form {
    background-color: #cecece;
    padding: 60px;
    width: 60%;
    border-radius: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    box-shadow:10px 1px 50px #ffffff88;
}
form:hover{
    padding: 65px;
}
input {
    color: #000000;
    font-family: sans-serif;
    font-size: small;
    width: 100%;
    background-color:  #cecece;
    border: none;
    outline: none;
    border-bottom: groove rgb(255, 255, 255);
    
}

input:hover {
  
  padding: 5px;
  height: -5px;
}


form,input {
  transition: all 0.3s ease-in-out;
}
h1{
    color: #4d4c4c;
}
h2{
   
    font-weight: 900px;
    font-size: 50px;
    position: absolute;
    top: -20px;
    color: #ffffff;
}
h2:hover{
     animation-name:y;
   animation-duration: 2s;
   animation-timing-function:linear ;
   animation-iteration-count: infinite;
}
div {
    background-color: black;
    width: 40px;
   height: 40px;
}

div:hover{
    animation-name: x;
   animation-duration: 2s;
   animation-timing-function:linear ;
   animation-iteration-count: infinite;
}
@keyframes x{
    0%{
        
        background-color: aqua;
        rotate: 0;
    }
     25%{
        
        background-color: blueviolet;
                rotate: 90deg;

    }
     50%{
        
        background-color: brown;
         rotate: 180deg;
    }
     75%{
        
        background-color: blue;
         rotate: 270deg;
    }
     100%{
        
         rotate: 360deg;
    }
}
@keyframes y{
    0%{
        color: lemonchiffon;
    }
    25%{
        color: rgb(255, 255, 168);
    }
}
/* butoon */ 
button {
  position: relative;
  padding: 2px 2px;
  border-radius: 7px;
  border: 1px solid rgb(151, 151, 155);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fffbfb;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  background-color: #000000;
}

button:hover {
  background: rgb(48, 48, 51);
  box-shadow: 0 0 30px 5px rgba(73, 73, 73, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
.a{
background-color: #000000;
}

